body{
  font-family: Georgia, serif;
  font-size: 18px;
  margin: 0;
	-webkit-font-smoothing: antialiased;
}
a{
  color: #227CE8;
}
a:hover{
  text-decoration: none;
}
p code{
  background-color: #F9F9F9;
  border: 1px solid #eee;
  font-size: 12px;
  padding: 2px 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.content{
  margin-left: 300px;
  margin-right: 200px;
}
.related{
	margin-top: 10px;
}
.related ul{
	margin: 0;
	padding: 0;
}
.related li{
	font-size: 14px;
	list-style: none;
	padding: 5px 10px;
	margin: 0;
	border-bottom: 1px solid #eee;
}
.related li span{
	float: right;
}
h1,h2,h3,h4{
  color: #555;
  font-family: Futura, Helvetica, sans-serif;
  font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a{
  color: #555;
  text-decoration: none;
}
h1{
  font-size: 42px;
  border-bottom: 1px solid #eee;
  margin-bottom: .25em;
}
h2{
}
h3{
}
#header{
	position: fixed;
	left: 15px;
	top: 15px;
	width: 250px;
}
#header .avatar{
	border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
	-webkit-box-shadow: 0px 0px 4px #555;
	float: left;
}
#header a{
  color: #555;
  text-decoration: none;
}
#header #bio{
	margin-left: 55px;
	margin-top: -4px;
}
#header #bio #title a{
	font-size: 15px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 4px;
}
#header #bio .byline{
	font-size: 13px;
	line-height: 1.4em;
	font-family: Helvetica, sans-serif;
	padding-bottom: 15px;
	margin-bottom: 15px;
	padding-left: 4px;
}
#header #bio .separation{
	border-bottom: 1px solid #ccc;
}
#header #bio .byline a{
	text-decoration: underline;
}
#header a:hover{
	color: #111;
}
#post{
  margin-bottom: 8em;
}
#post p{
	margin-left: 5px;
	margin-bottom: 1.6em;
  line-height: 1.7em;
}
#post .authoring{
	padding-left: 8px;
	font-size: 14px;
	color: #777;
}
#post .authoring a{
	color: #777;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
	padding: 0;
}
#post .authoring a:hover{
	color: #555;
	border-color: #555;
}
#post blockquote{
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  padding: 1em 3em;
  margin: 2em 6em;
  color: #999;
}
#post blockquote cite:before{
  content: '— ';
}
#post blockquote cite{
  text-align: right;
  color: #111;
  font-style: normal;
}
#post a{
  padding: 0 3px;
}
#foots{
	margin-top: 3em;
	padding: 10px 15%;
  background-color: #eee;
	font-size: 14px;
	color: #999;
  text-shadow: 1px 1px 0 #fff;
}
#foots a{
	padding: 0 2px;
}
#boastful{
  background: 
    -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff), color-stop(.1, #eee), color-stop(.8, #fff));
  background-color: #fbfbfb;
  padding: 1.25em 15%;
	padding-bottom: 10em;
  color: #999;
  font-size: 13px;
  text-shadow: 1px 1px 0 #fff;
}
#boastful h4{
  margin: 20px 0 10px 0;
  font-size: 20px;
}
#boastful a{
  color: #93BCED;
}
#boastful .topsy_widget_data{
  float: right;
  padding-top: 20px;
}
.boastful {
  display: inline;
}
.boastful img{
  margin: 3px;
  border: 0;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-bottomright: 7px;
}
.boastful .boastful_pointer{
  position: absolute;
  z-index: 999;
  left: -9999px;
  opacity: .7;
  display: none;
  width: 0;
  height: 0;
  border-left: 10px solid transparent; 
  border-right: 10px solid transparent;
  border-bottom: 10px solid #000;
  border-top: 0;
}
.boastful .boastful_tweet{
  position: absolute;
  z-index: 999;
  left: -9999px;
  background-color: #222;
  opacity: .8;
  padding: 5px;
  width: 250px;
  font-size: 11px;
  text-shadow: 1px 1px 0 #000;
  color: #eee;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
.boastful .boastful_handle{
  font-size: 13px;
  font-weight: bold;
}