body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

a {
  color: #227ce8; }

.sidebar {
  position: fixed;
  left: 15px;
  top: 15px;
  width: 80px;
  font-family: Helvetica, sans-serif; }
  .sidebar a {
    text-decoration: none; }
  .sidebar img {
    padding: 0 3px;
    border: 0; }
  .sidebar .avatar {
    padding: 0;
    margin-left: 2px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #ccc;
    opacity: .8; }
    .sidebar .avatar:hover {
      opacity: 1; }
  .sidebar .name {
    text-transform: uppercase;
    margin: 10px 0 20px 0; }
    .sidebar .name #zach {
      padding-left: 1px;
      font-size: 23px;
      letter-spacing: 5px;
      color: #666; }
      .sidebar .name #zach:hover {
        color: black; }
    .sidebar .name #holman {
      font-size: 17px;
      font-weight: bold;
      letter-spacing: 1px;
      color: black; }
  .sidebar .alt-text {
    font-size: 12px;
    color: #777777;
    padding-left: 2px;
    letter-spacing: 1px; }
  .sidebar .sections {
    margin: 25px 0 0 -15px; }
    .sidebar .sections a {
      background-color: #000;
      padding: 3px 5px;
      color: #fff;
      font-weight: bold;
      font-size: 12px; }
      .sidebar .sections a:hover {
        color: #ccc; }
    .sidebar .sections ul {
      margin: 0;
      padding: 0; }
    .sidebar .sections li {
      list-style: none;
      margin-bottom: 7px; }

.content {
  margin-left: 110px;
  width: 650px;
  margin-bottom: 50px; }
  .content h1 {
    color: #333;
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #ccc; }
  .content h1 a {
    color: #111;
    text-decoration: none; }
  .content h2 {
    color: #333;
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #ccc; }
  .content h2 a {
    color: #111;
    text-decoration: none; }
  .content h3 {
    color: #333;
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #ccc; }
  .content h3 a {
    color: #111;
    text-decoration: none; }
  .content h4 {
    color: #333;
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #ccc; }
  .content h4 a {
    color: #111;
    text-decoration: none; }
  .content h1 {
    font-size: 36px;
    margin: 18px 0 5px 0; }
  .content h2 {
    font-size: 30px;
    margin-bottom: 15px; }
  .content h3 {
    color: #777;
    font-size: 25px;
    padding-bottom: 5px;
    margin-bottom: 10px; }
  .content p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 1.2em;
    line-height: 1.7em; }
  .content hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 2em 1em; }
  .content .byline {
    margin-bottom: 17px;
    font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
    padding-left: 0px;
    font-size: 17px;
    color: #777; }
  .content .listing {
    margin: 10px 0 0 0;
    padding: 0;
    font-family: Helvetica, sans-serif; }
    .content .listing ul {
      margin: 0;
      padding: 0; }
    .content .listing li {
      font-size: 13px;
      list-style: none;
      padding: 5px 3px;
      margin: 0;
      color: #777777;
      border-bottom: 1px solid #eee; }
    .content .listing li span {
      float: right; }
    .content .listing a {
      text-decoration: none; }
      .content .listing a:hover {
        text-decoration: underline; }
