<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Zach Holman" />
   <link rel="openid.server" href="http://www.clickpass.com/openid_server" /> 
   <link rel="openid.delegate" href="http://clickpass.com/public/holman" />
   <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/holman" />
   <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
   <script type="text/javascript" src="/javascript/jquery.boastful.js"></script>
   <script type="text/javascript">
     $(document).ready(function() {
        $('#boastful').boastful()
     });
   </script>
</head>
<body>

<div class="content">
<div id="header">
  <a href="/">
    <img src="http://img.tweetimag.es/i/holman_n" height="48" width="48" class="avatar" />
  </a>
  <div id="byline">
    <p>I made <a href="http://www.good-tutorials.com">Good-Tutorials</a> and work at <a href="http://github.com">GitHub</a>.</p>
  </div>
  <div id="title"><a href="/">Zach Holman</a></div>
</div>
</div>

{{ content }}

<div id="foots">
  follow me on <a href="http://twitter.com/holman">twitter</a> and <a href="http://github.com/holman">github</a> and your peers will envy you. also, this blog is <a href="http://github.com/holman/holman.github.com">on github</a>.
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-251125-2");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>