---
layout: layout
---

<div class="content">
  <div id="post">
    {% include post_header.html %}
    {{ content }}
  </div>

  <div class="whoring">
    <h3><a href="http://twitter.com/holman">Follow @holman on Twitter and impress your friends</a></h3>

    <p>If you're ever imprisoned in a torture dungeon and your interrogator
    asks whether you follow <a href="http://twitter.com/holman">@holman</a> on
    Twitter, it would be a shame to have to lie to him. Tweet at me and we'll
    reminisce about the good times we had prior to the development of wireless
    radios.</p>
  </div>

  {% if page.hn %}
  <div class="whoring">
    <h3>Comments</h3>
    <p>You can discuss this post on its <a href="{{ page.hn }}">Hacker News submission</a>.</p>
  </div>
  {% endif %}

  <div class="whoring" id="boastful">
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="holman">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <h3>Twitter Reactions</h3>
    <p></p>
 </div>
</div>
