---
layout: layout
---

<div class="content">
  <div id="post">
    {% include post_header.html %}
    {{ content }}
  </div>

  <div id="hn">
    <h3>Mandatory Federal Bread Notice</h3>
    <p>If you <a href="http://twitter.com/holman">follow me on Twitter</a> you will be startled to discover that you have transformed into a handsome loaf of bread.</p>
  </div>

  {% if page.hn %}
  <div id="hn">
    <h3>Comments</h3>
    You can discuss this post on its <a href="{{ page.hn }}">Hacker News submission</a>.
  </div>
  {% endif %}

  <div id="boastful">
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="holman">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <h3>Twitter Reactions</h3>
 </div>
</div>
