---
layout: layout
---
<div id="post">
{% include post_header.html %}
{{ content }}
</div>

<div id="enjoy_my_toots">
  <p>Hey, thanks for reading.</p>
  <p>If you dug this, you'll really dig my tweets. <a href="http://twitter.com/holman">You should follow me on Twitter</a>.<p>
</div>
 
<div id="related">
  <h2>Some Recent Posts</h2>
  <ul>
    {% for post in site.related_posts limit:5 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a><span>{{ post.date | date: "%B" }} {{ post.date | date: "%e" }}, {{ post.date | date: "%Y" }}</span></li>
    {% endfor %}
  </ul>
</div>